/* ChatBot.css */

.container {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}

.titulo {
  background-color: #161616; 
  color: #FFFFFF !important; 
  text-align: left; 
  padding: 8px 20px; 
  font-size: 18px; 
  margin: 0; 
  width: 100%; 
  box-sizing: border-box; 
}



.conversation {
  height: 400px;
  background-color: #F7F7F7;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 8px 16px;
  border-radius: 18px;
  font-size: 14px;
  max-width: 75%;
}

.message.bot {
  background-color: #e5e5e5;
  align-self: flex-start;
}

.message.user {
  background-color: #3d3f42;
  color: #FFFFFF;
  align-self: flex-end;
}
.input-form {
  display: flex;
  padding: 10px 20px !important; 
  background-color: #F7F7F7;
  border-top: 1px solid #ccc;
}

.input-group {
  display: flex;
  align-items: center !important; 
  width: 100%;
}

.form-control {
  flex-grow: 1; 
  padding: 8px 12px !important; 
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px !important; 
}

.send-button {
  padding: 8px 12px !important; 
  background-color: #3d3f42 !important;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send-button,
.form-control {
  height: 40px !important; 
}

.send-button:hover {
  background-color: #3d3f42;
}
